// Variables
// *------------------------------------------------*

$color-white: #ffffff;
$color-smoky-black: #12130F;
$color-emrald: #5B9279;
$color-eton-blue: #8FCB9B;
$color-platinum: #EAE6E5;
$color-grey: #8F8073;
$color-mountain-pink: #8E7C93;
$color-lilac: #D0A5C0;
$header-gradient: linear-gradient(90deg, rgba(253,174,175,1) 20%, rgba(247,140,145,1) 20%, rgba(253,174,175,1) 40%, rgba(247,140,145,1) 40%, rgba(253,174,175,1) 60%, rgba(247,140,145,1) 60%, rgba(253,174,175,1) 80%, rgba(247,140,145,1) 80%);

$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-10: 10px;
